<h1>About This Application</h1>

<p>This application uses the following data sources:</p>
<ul>
  <li>DataSource 1: <a href=http://makeup-api.herokuapp.com alt=MakeupAPILink>MakeupAPI</a></li>
  <li>DataSource 2: Faker generated data</li>
  <!-- Add more data sources as needed -->
</ul>

<h2>Entity-Relationship Diagram (ERD)</h2>
<%= image_tag 'erd.png', alt: 'Entity-Relationship Diagram', class: 'img-fluid' %>

<%# <%= link_to 'Back to Home', root_path, class: 'btn btn-primary mt-3' %>