<div class="container mt-5 pb-5">
  <h1 class="mb-3">About This Application</h1>

  <p class="mb-3">This application uses the following data sources:</p>
  <ul class="mb-4">
    <li>DataSource 1: <a href="http://makeup-api.herokuapp.com" class="text-decoration-none" alt="MakeupAPILink">MakeupAPI</a></li>
    <li>DataSource 2: Faker generated data</li>
    <!-- Add more data sources as needed -->
  </ul>

  <h5 class="mb-3">Entity-Relationship Diagram (ERD)</h5>
  <%= image_tag 'erd.png', alt: 'Entity-Relationship Diagram', class: 'img-fluid mb-4' %>
</div>
