/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Add to your CSS file */
#main h2{
  text-align: center;
  color: #848484;
  font: sans-serif;
  font-size: 2em;
}


#recommended-products .card-img-top {
  height: 200px; /* Adjust as needed */
  width: auto;
  object-fit: contain;
}

#recommended-products .btn-view {
  display: inline-block;
  background-color: #029e58;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .25rem;
}

#recommended-products .btn-view:hover {
  background-color: white;
  color: black;
  border: 1px solid #007bff;
}

body {
  padding-top: 200px; /* Adjust based on the actual height of your header */
}


#category .btn-sm{
  background-color: #029e58;
}
